.btn-group {
    float: right;
    position: fixed;
    bottom: 0;
    right: 10%;
}
.navbar-header {
    display: inline-block;
    /*width: 20%;*/
}
.form-group{
    display: inline-block;
    width: 30%;
    padding-top: 1%;
    margin-bottom: 0;
    /*margin-bottom: 0;*/
    margin-left: 5%;
}
.sidelist{
    float: right;
}
.parameter-list{
    display: inline-block;
    text-align: right;
    margin-left: auto;
    width: 80px;
}
.parameter-values{
    display: inline-block;
    text-align: left;
    width: 80px;
}
.form-control {
    margin-left: auto;
    margin-right: auto;
    vertical-align: sub;
}
.form-group{
    margin-left: 1%;
    width: 30%;
}
.amount-of-drug{
    width: 40px;
}
.user-info{
    padding: 18px;
}
#start-search{
    padding: 5px;
    margin-bottom: 0;
    background-color: #F8F8F8;
    color: #777777;
}
.page-control{
    display: inline-block;
}
.back-forward{
    text-align: center;
}
.sideblock {
    background-color: #F8F8F8;
    padding: 5px;
    text-align: center;
    /*position: fixed;*/
    box-sizing: border-box;
    border: 1px solid #DDDDDD;
    border-radius: 5px;

}
#amount{
    width: 80px;
    height: 23px;
    padding: 0 2px;
    /*border-radius: 3px;*/
}
.submit-amount{
    width: 80px;
    padding: 0 2px;

}
#request-button{
    padding-left: 0;
}
#to-card-button{
    padding-right: 0;
}
h3 {
    horiz-align: center;
    justify-content: center;
}
#sidelist{
    float: right;
}
.sign-in {
    vertical-align: middle;
}
.errorMsg{
    color: red;
}
.error-msg{
    align-self: center;
}
.jumbotron{
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
}
body{
    background-color: aliceblue;
}
.user-data{
    padding-right: auto;
    padding-left: auto;
}
.input-update{
    height: 20px;
}
.user-info-input{
    width: 100%;
}
.row{
    text-align: justify;
}
h4{
    text-align: center;
}
.no-doctor-msg{
    color: red;
}
.parameters-insertion{
    text-align: center;
}
.col-sm-1{
    display: inline-block;
}
.col-sm-2{
    display: inline-block;
}
.col-sm-3{
    display: inline-block;
}
.delete-acc{
    font-size: 12px;
}
.approving-order{
    text-align: center;
}
